<div fxLayout="column">
    <form class="search-container keep-focus" fxLayout="column">
      <mat-form-field class="search-form-field keep-focus" fxFlex>
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>Search for the answer..</mat-label>

        <input
          type="search"
          matInput
          class="keep-focus"
          placeholder="Search"
          autocomplete="off"
          (focusout)="onBlur()"
          (focus)="onInputFocus()"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" class="listbox" (optionSelected)='sendAnswer($event.option.value)' >
            <mat-option class="listitem" *ngFor="let song of treeData" [value]="selectedAnswer" [value]="song.title">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img [src]="song.thumbnailUrl" class="thumbnailsImg" >
                <span class="list-item-text">{{ song?.title }} - {{ song.artists[0]?.name}}</span>
            </div>
                
            </mat-option>
      </mat-autocomplete>
          <div
            [hidden]="!searchResultsVisible"
            class="results-panel keep-focus"
          >
            <div *ngIf="(treeData.length === 0 && !!searchControl.value) || isLoadingList" style="padding: 20px">
              <mat-spinner [diameter]="40"></mat-spinner>
            </div>
          </div>
      </mat-form-field>
    </form>
  </div>