<!-- 
<div [class]="buttonClass" style="left:10px; top: 10px; position: absolute; z-index: 200;">
  <button mat-icon-button (click)="onButtonClick()" style="left:10px; top: 10px; position: absolute; z-index: 200;" >
    <mat-icon style="left:10px; top: 10px; position: absolute; z-index: 200;" >play_circle</mat-icon>
  </button>
</div>
<div *ngIf="showPlayer">
  <iframe style="border-radius:12px" id="spotify-embedded" (click)="onPlayerClick" src="https://open.spotify.com/embed/track/5Ti3fqGTfjUsSdylFNy0Ng?utm_source=generator&theme=0"  width="70px" height="70px" frameBorder="0" allowfullscreen="false" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"style="opacity:0%; z-index:1000;"></iframe>
</div> -->
<router-outlet></router-outlet>
